#touchArea {
    position: relative;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    background-color: black;
}

#player {
    position: absolute;
    background-color: firebrick;
    width: 100px;
    height: 100px;
    left: 250px;
    top: 150px;
}

div.touchStatus {
    font-size: xx-large;
}

body {
    background-color: blueviolet;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(104, 46, 158);

}